*{
    margin: 0%;
}

/* ----------Navbar----------- */

/* nav1 */

nav{
    background-color: black;
    color: white;
    height: 80px;
}
.navitem{
    float: left ;
    padding: 20px;
    margin-left: 29px;
    margin-top: 4px;
    height: 28px ;
}
.navitem:hover{
    border: 2px solid white ;
    padding: 18px;
}
nav>img{
    float: left;
    height: 40px;
    width: 90px;
    padding-top: 20px;
}
ul li{
    list-style: none;
}
.dropdown{
    height:30px;
    padding: 0%;
    margin-top: 22px;
    border-radius: 10px;
    background-color: #1b626a;
}
.dropdown:hover{
    padding:  0px;
    border: none;
}
.dropdown input{
    width: 380px;
    border: none;
    height: 28px;
}

/* nav2 */
#nav2{
    background-color: #a9a2b9;
}
#nav2>span{
    float: left;
    margin-top: 5px;
    color: whitesmoke;
    margin-bottom:5 px;
    /* border: 2px solid white; */
}
#nav2 ul li{
   display: inline-block;
   /* border: 2px solid white; */
   margin-top: 5px;
   margin-bottom: 5px;
   color: whitesmoke;
   margin-left: 20px;
} 
#nav2 ul li:hover{
   color: #545258;
}