*{
    margin: 0;
}
.filter{
    /* border: 2px solid black; */
    width: 15%;
    float: left;
}

li{
    list-style: none;
    line-height: 35px;
}
.listing{
    /* border: 2px solid black; */
    width: 80%;
    float: right;
}

.items{
    border: 2px solid red;
}
.cost{
    /* border: 2px solid red; */
}
.innercolm{
    border: 2px solid purple;
}
.item-box{
    border-radius: 60px 2px 60px 2px;
    box-shadow: 10px 10px 10px #babebf;
}
.proimg{
    width: 100%;
    border-radius: 55px 0px 0px 0px;
}



/* fotr  */

#footmain{
    background-color: #2d3436;
}
#footmain>table{
    margin: auto;
    color: white;
}
#footmain th,td{
    padding-left: 30px;
}
#footmain th{
    font-size: 30px;
}
#footmain td{
   text-align: center;
   line-height: 40px;
}
#footmain img{
  width: 100px;
  margin-left: 530px;
  margin-top: 50px;
  height: 50px;
}

#footmain button {
    margin-left: 120px;
    margin-top: 48px;
    position: absolute;
}
#footmain>p{
    width: 65%;
    margin: auto;

}
#footmain>p>span{
    color: white;
    margin-left: 10px;
}

.colm{
	background-color:#171b1c;
    text-align: center;
    border-radius: 5px;
	color: white;
}
.foot{
	text-align: center;

}